@charset "utf-8";
/* 눈누 폰트 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  color: var(--colorNavy);
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 16px;
  --colorBlack: #232323;
  --colorWhite: #ffffff;
  --colorGray: #d9d9d9;
  --colorNavy: #284372;
  --colorYellow: #ffd700;
  --colorLYellow: #ffee92;
  --colorRed: #ff3939;
  --gap: 32px;
  --gap2: 16px;
}
img {
  width: 100%;
}
.mx {
  max-width: 1440px;
  width: calc(100% - 2rem);
  margin: 0 auto;
  /* border: 1px dotted red; */
}
.mx2 {
  max-width: 980px;
  margin: 0 auto;
}

/* 상단안내 st */
.watch_wrap {
  background: url(../img/상단관람안내배경.png) no-repeat center / cover;
  color: #fff;
}
.watch {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;
}
.watch > p {
  padding: 0 2.5vw;
}
.watch_tit {
  font-weight: 500;
  color: var(--colorYellow);
  padding-right: 0.5vw;
}
/* 헤더 st */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorWhite);
  padding-top: var(--gap2);
  white-space: nowrap;
}
.logo {
  width: 150px;
}
.logo img {
  object-position: 0 5px;
}
/* gnb st */
.gnb {
  /* border: 1px solid red; */
  display: flex;
  position: relative;
  z-index: 100;
}
.gnb::before {
  content: "d";
  position: absolute;
  width: 400%;
  height: 0;
  /* padding-top: 15%; */
  overflow: hidden;
  top: 100%;
  left: -200%;
  background-color: #fff;

  /* border: 1px solid red; */
}
.gnb_list {
  position: relative;
}
.gnb_list a {
  display: block;
  padding: 1rem 3vw;
  background-color: var(--colorWhite);
  position: relative;
  overflow: hidden;
}
.gnb_list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 60%;
  height: 1px;
  background-color: var(--colorNavy);
  transform: translate(-50%);
}
.gnb_list:hover > a {
  font-weight: 500;
}
.gnb_list:hover > a::before {
  bottom: 0;
  left: 50%;
  transition: 0.3s;
}

.sub_gnb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
}
.gnb:hover .sub_gnb {
  height: 180px;
  transition: 0.3s;
}
.gnb:hover::before {
  height: 250px;
  transition: 0.3s;
}

.sub_gnb li a {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: var(--colorWhite);
}
.sub_gnb li:hover a {
  background-color: var(--colorNavy);
  color: var(--colorWhite);
}

.mypage {
  display: flex;
}
.mypage_btn {
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.mypage_btn:hover {
  filter: saturate(200%);
}
.mypage_btn1 {
  background-color: var(--colorYellow);
  color: var(--colorNavy);
}
.mypage_btn2 {
  background-color: var(--colorNavy);
  color: #fff;
}
.M_nav {
  display: none;
}

.main {
  margin-top: var(--gap2);
  margin-bottom: var(--gap);
  background: url(../img/메인이미지.png) no-repeat center/ cover;
}

.slogan {
  font-family: "S-CoreDream-3Light";
  color: var(--colorWhite);
  font-weight: 600;
  letter-spacing: -2px;
  padding-top: 5rem;
  text-align: center;
  position: relative;
}
.slogan_sub {
  font-size: 2rem;
}
.slogan_sub span {
  color: var(--colorYellow);
}
.slogan_tit {
  font-size: 4rem;
  padding: 1.5rem 0;
}
.api_zon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--colorWhite);
}
.weather_tit {
  display: flex;
  padding: 0.5rem 1rem;
  /* border: 1px solid red; */
}
.weather_tit > span {
  padding: 0 0.25rem;
}
.reservation {
  display: flex;
}
.reservation_btn {
  width: 50%;
  padding: 1rem 0;
  font-family: "S-CoreDream-3Light";
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.reservation_btn1 {
  background-color: var(--colorYellow);
  color: var(--colorNavy);
  position: relative;
}
.reservation_btn2 {
  background-color: var(--colorNavy);
  color: var(--colorWhite);
  position: relative;
}
.reservation_btn:hover {
  filter: saturate(200%);
}
/*  배경일러스트이미지 */
.slogan::before {
  content: "";
  position: absolute;
  background: url(../img/별자리1.svg) no-repeat center / 100%;
  /* border: 1px solid red; */
  /* top: 25%; */
  /* left: 30%; */
  padding: 2.5%;
  opacity: 0.1;
  transform: translate(-420%, -80%);
}
.slogan::after {
  content: "";
  position: absolute;
  background: url(../img/떨어지는행성.svg) no-repeat center / 100%;
  padding-top: 10%;
  width: 10%;
  /* border: 1px solid red; */
  right: 0;
  top: 0;
  opacity: 0.1;
  transform: translate(5%, 15%);
}
.reservation_btn1::before {
  content: "";
  position: absolute;
  background: url(../img/우주인.svg) no-repeat center / 100%;
  /* top: -280%; */
  /* left: -35%; */
  padding: 25%;
  opacity: 0.1;
  transform: translate(-115%, -75%);
  z-index: 0;
}
.reservation_btn2::after {
  content: "";
  position: absolute;
  background: url(../img/별자리2.svg) no-repeat center / 100%;
  padding: 5%;
  opacity: 0.1;
  /* border: 1px solid red; */
  right: -15%;
  top: 0;
  transform: translate(5%, 20%);
}
/* 3단 card 시작 */
.list_wrap {
  margin-top: calc(var(--gap) * 2);
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}
.list {
  background-color: #fff;
}
.list1 {
  width: 25%;
  align-self: flex-start;
}
.list_head {
  font-family: "S-CoreDream-3Light";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
}
.list_head > p {
  display: flex;
  border: 1px solid red;
  white-space: nowrap;
}
.list_head > p > img {
  width: 25%;
  margin-right: 0.25rem;
}
.head_btn {
  display: flex;
  cursor: pointer;
}
.head_btn img:hover:first-child {
  filter: saturate(400%);
}
.head_btn img:hover:last-child {
  filter: saturate(400%);
}
.head_btn img:first-child {
  margin-right: 0.5rem;
}
.list_img {
  position: relative;
  /* padding-top: 65%; */
  display: none;
  overflow: hidden;
}

.list_img img {
  /* position: absolute; */
  /* top: 0; */
  width: 110%;
  transition: 0.3s;
  object-fit: cover;
  transform: scale(1.1);
}

.list1:hover .list_img img {
  transform: scale(1.2);
}
.listimg_tit {
  font-family: "S-CoreDream-3Light";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  width: 100%;
  font-weight: bold;
}

.list_img:last-of-type .listimg_tit {
  flex-direction: row;
  justify-content: center;
}
.listimg_tit span:nth-of-type(2) {
  color: var(--colorYellow);
  font-size: 2rem;
}
.list_imgB {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* 3단카드 2번째*/
.list2,
.list3 {
  width: 35%;
}
.list2 .list_head {
  border-bottom: 1px solid var(--colorNavy);
}
.notice_con {
  padding: 0.5rem var(--gap2);
}
.notice {
  display: flex;
  position: relative;
  padding: 0.5rem 0;
}
.notice > span:nth-child(2) {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0.5rem;
}
.notice > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}
.notice:hover {
  background-color: #ffd70070;
}

/* 3단카드 3번쨰 */
.facility_btncon {
  display: flex;
  flex-wrap: wrap;
}
.facility_btn {
  width: 25%;
  padding: 0.25rem;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid var(--colorNavy);
}

/* 3단카드 자바스크립트 */
.list_img.active {
  display: block;
}

/* 푸터 st */
.ft_wrap {
  background: url(../img/푸터배경.png) no-repeat center / cover;
}
.ft {
  display: flex;
  color: var(--colorWhite);
  font-size: 0.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ft_con {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0.75rem;
  /* border: 1px solid red; */
}
.ft_logo {
  width: 150px;
  padding-top: 0.5rem;
  align-self: flex-start;
}
.pt_txt > * {
  padding: 0.25rem 0;
}
.pt_tit {
  color: var(--colorYellow);
  font-weight: 500;
}

.ft_right .pt_txt {
  line-height: 0.9;
  /* padding-top: 1rem; */
}
button {
  border: none;
  outline: none;
}
.pt_Slist {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;
  min-width: 200px;
  background-color: transparent;

  color: #fff;
  border: 1px solid var(--colorWhite);
  position: relative;
  padding: 0.25rem 0;
  margin-top: 0.5rem;
}
.pt_Slist::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../img/푸터바로가기.svg) no-repeat center/ 100%;
  top: 50%;
  right: 0;
  margin-right: 0.25rem;
  transform: translateY(-50%);
}
.pt_Slink {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: var(--colorNavy);
  border: 1px solid var(--colorWhite);
  display: none;
}
.pt_Slink > *:hover {
  background-color: var(--colorWhite);
  color: var(--colorNavy);
}

.pt_Slist.active @media (max-width: 950px) {
  .watch {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .watch > p {
    padding: 0.25vw;
  }
  .gnb_list a {
    font-size: 0.85rem;
  }
  .mypage_btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.85rem;
  }
}
@media (max-width: 860px) {
  .gnb {
    display: none;
  }
  .mypage {
    display: none;
  }
  .M_nav {
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 150px;
  }

  .M_schedule {
    /* border: 1px solid dodgerblue; */
    margin-right: 0.5rem;
    display: flex;
    /* width: 55%; */
    width: 30px;
    height: 30px;
  }
  .M_btn {
    /* display: flex;border: 1px solid red; */
    flex-direction: column;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    padding-top: 20%;
    width: 30px;
  }
  .M_btn > * {
    color: transparent;
    width: 100%;
    height: 2px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--colorNavy);
    border-radius: 1rem;
  }

  .ham1 {
    transform: translate(0, -50%);
  }

  .ham2 {
    top: 50%;
    transform: translate(0, -50%);
  }
  .ham3 {
    top: 100%;
    transform: translate(0, -50%);
  }
  /* 자바스크립트 nav */
  .gnb_wrap.active .gnb::before {
    display: none;
  }
  .gnb_wrap.active {
    position: fixed;
    top: 15%;
    right: 0;
    width: 80%;
    height: 100%;
    /* border: 10px solid violet; */
    background-color: #fff;
    z-index: 100;
  }
  .gnb_wrap.active .gnb {
    display: block;
  }

  .gnb_wrap.active .gnb_list {
    position: relative;
  }
  .gnb_wrap.active .gnb_list a {
    text-align: right;
    font-size: 1rem;
  }
  .gnb_wrap.active .sub_gnb {
    position: sticky;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    /* height: 0; */
    overflow: hidden;
    background-color: var(--colorNavy);
    z-index: 200;
  }
  .gnb_wrap.active .gnb_list > a::before {
    display: none;
  }

  .gnb_wrap.active .gnb_list:hover .sub_gnb {
    display: block;
  }
  .gnb_wrap.active .sub_gnb li a {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.85rem;
    background-color: var(--colorNavy);
    color: var(--colorWhite);
  }
  .gnb_wrap.active .sub_gnb li:hover a {
    background-color: var(--colorNavy);
  }
  .gnb_wrap.active ~ .M_nav.active .ham1 {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
  .gnb_wrap.active ~ .M_nav.active .ham2 {
    display: none;
  }
  .gnb_wrap.active ~ .M_nav.active .ham3 {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
  /* slogan 반응형 */
  .slogan {
    padding-top: 3rem;
  }
  .slogan_sub {
    font-size: 1.5rem;
  }
  .slogan_tit {
    font-size: 2.5rem;
  }
  /* 예약 버튼 반응형 */
  .reservation_btn {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .list1,
  .list2 {
    width: 50%;
    align-self: flex-start;
  }

  .list3 {
    width: %;
  }
}
@media (max-width: 450px) {
  .watch {
    flex-direction: column;
    font-size: 0.85rem;
    padding: 0.5rem 0;
    /* align-items: center; */
  }
  .watch > p {
    padding: 0.25vw 0;
  }
  /* slogan 반응형 */
  .slogan {
    padding-top: 2rem;
  }
  .slogan_sub {
    font-size: 1rem;
  }
  .slogan_tit {
    font-size: 2rem;
  }
  /* 예약 버튼 반응형 */
  .reservation_btn {
    font-size: 1rem;
  }
  /* 배경일러스트 */
  .slogan::after {
    /* border: 1px solid red; */
    padding-top: 20%;
    width: 20%;
    opacity: 0.1;
    transform: translate(5%, 15%);
  }

  .reservation_btn1::before {
    display: none;
  }
  .reservation_btn2::after {
    display: none;
  }
  .active {
    border: 1px solid red;
  }
}
