@charset "utf-8";
/* 눈누 폰트 */
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  color: var(--colorNavy);
  font-family: "Noto Sans KR";
  font-weight: normal;
  font-size: 16px;
  --colorBlack: #232323;
  --colorWhite: #ffffff;
  --colorGray: #d9d9d9;
  --colorNavy: #284372;
  --colorYellow: #ffd700;
  --colorLYellow: #ffee92;
  --colorRed: #ff3939;
  --gap: 32px;
  --gap2: 16px;
}
img {
  width: 100%;
}

.wrap {
  overflow: hidden;
}

.mx {
  max-width: 1440px;
  width: calc(100% - 2rem);
  margin: 0 auto;
}
.mx2 {
  max-width: 980px;
  margin: 0 auto;
}

/* 헤더 st */
/* 상단안내 st */
header {
  position: relative;
  z-index: 100;
}
.watch_wrap {
  background: url(../img/상단관람안내배경.png) no-repeat center / cover;
  color: #fff;
}
.watch {
  display: flex;
  padding: 1rem 0;
  justify-content: center;
  flex-wrap: wrap;
}
.watch > p {
  padding: 0 2.5vw;
}
.watch_tit {
  font-weight: 500;
  color: var(--colorYellow);
  padding-right: 0.5vw;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--colorWhite);
  padding-top: var(--gap2);
  white-space: nowrap;
}
.logo {
  width: 150px;
}
.logo img {
  object-position: 0 5px;
}
/* gnb st */

.gnb_hover_bg {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  top: 100%;
  left: 0;
  transition: 0.3s;
  background-color: #fff;
}
.gnb_wrap:hover ~ .gnb_hover_bg {
  height: 150px;
}
.gnb {
  display: flex;
  position: relative;
  z-index: 100;
}

.gnb_list {
  position: relative;
}
.gnb_list a {
  display: block;
  padding: 1rem 2rem;
  background-color: var(--colorWhite);
  position: relative;
  overflow: hidden;
}
.gnb_list a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -50%;
  width: 60%;
  height: 1px;
  background-color: var(--colorNavy);
  transform: translate(-50%);
}
.gnb_list:hover > a {
  font-weight: 500;
}
.gnb_list:hover > a::before {
  bottom: 0;
  left: 50%;
  transition: 0.3s;
}

.sub_gnb {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  white-space: nowrap;
}
.gnb:hover .sub_gnb {
  height: 180px;
  transition: 0.4s;
}

.sub_gnb li a {
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 0.85rem;
  background-color: var(--colorWhite);
}
.sub_gnb li:hover a {
  background-color: var(--colorNavy);
  color: var(--colorWhite);
}

.mypage {
  display: flex;
}
.mypage_btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.mypage_btn:hover {
  filter: saturate(200%);
}
.mypage_btn1 {
  background-color: var(--colorYellow);
  color: var(--colorNavy);
}
.mypage_btn2 {
  background-color: var(--colorNavy);
  color: #fff;
}
.M_nav {
  display: none;
}

.main {
  margin-top: var(--gap2);
  margin-bottom: var(--gap);
  padding-bottom: var(--gap);
  background: url(../img/메인이미지.png) no-repeat center/ cover;
}

.slogan {
  font-family: "S-CoreDream-3Light";
  color: var(--colorWhite);
  font-weight: 600;
  letter-spacing: -2px;
  padding-top: 5rem;
  text-align: center;
  position: relative;
}
.slogan_sub {
  font-size: 2rem;
}
.slogan_sub span {
  color: var(--colorYellow);
}
.slogan_tit {
  font-size: 4rem;
  padding: 1.5rem 0;
}
.api_zon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--colorWhite);
}
.weather_tit {
  display: flex;
  padding: 0.5rem 1rem;
  /* border: 1px solid red; */
}
.weather_tit > span {
  padding: 0 0.25rem;
}
.reservation {
  display: flex;
}
.reservation_btn {
  width: 50%;
  padding: 1rem 0;
  font-family: "S-CoreDream-3Light";
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.reservation_btn1 {
  background-color: var(--colorYellow);
  color: var(--colorNavy);
  position: relative;
}
.reservation_btn2 {
  background-color: var(--colorNavy);
  color: var(--colorWhite);
  position: relative;
}
.reservation_btn:hover {
  filter: saturate(200%);
}
/*  배경일러스트이미지 */
.slogan::before {
  content: "";
  position: absolute;
  background: url(../img/별자리1.svg) no-repeat center / 100%;
  padding: 2.5%;
  opacity: 0.1;
  transform: translate(-420%, -80%);
}
.slogan::after {
  content: "";
  position: absolute;
  background: url(../img/떨어지는행성.svg) no-repeat center / 100%;
  padding-top: 10%;
  width: 10%;
  right: 0;
  top: 0;
  opacity: 0.1;
  transform: translate(5%, 15%);
}
.reservation_btn1::before {
  content: "";
  position: absolute;
  background: url(../img/우주인.svg) no-repeat center / 100%;
  /* top: -280%; */
  /* left: -35%; */
  padding: 25%;
  opacity: 0.1;
  transform: translate(-115%, -75%);
  z-index: 0;
}
.reservation_btn2::after {
  content: "";
  position: absolute;
  background: url(../img/별자리2.svg) no-repeat center / 100%;
  padding: 5%;
  opacity: 0.1;
  /* border: 1px solid red; */
  right: -15%;
  top: 0;
  transform: translate(5%, 20%);
}
/* 3단 카드 시작 */
.list_wrap {
  margin-top: calc(var(--gap) * 2);
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
}
.list {
  background-color: #fff;
}
/* 3단 카드 팝업존 */
.list1 {
  width: 25%;
  background-color: transparent;
  flex-shrink: 0;
}
.list_head {
  font-family: "S-CoreDream-3Light";
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: #fff;
}
.list_head > p {
  display: flex;
  /* border: 1px solid red; */
  white-space: nowrap;
}
.list_head > p > img {
  width: 25%;
  margin-right: 0.25rem;
}
.head_btn {
  display: flex;
  cursor: pointer;
}
.head_btn img:hover:first-child {
  filter: saturate(400%);
}
.head_btn img:hover:last-child {
  filter: saturate(400%);
}
.head_btn img:first-child {
  margin-right: 0.5rem;
}
.popzon_wrap {
  overflow: hidden;
}
.popzon {
  display: flex;
  width: 300%;
  overflow: hidden;
  height: calc(100% - 45px) ;
}
.list_img {
  width: calc(100% / 3);
  position: relative;
  display: block;
  overflow: hidden;
}
.list_img:nth-of-type(3) ~ li {
  display: none;
}

.list_img img {
  width: 120%;
  height: 100%;
  transition: 0.3s;
  object-fit: cover;
}

.list1:hover .list_img img {
  transform: scale(1.2);
}
.listimg_tit {
  font-family: "S-CoreDream-3Light";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);
  font-size: 1em;
  width: 100%;
  font-weight: bold;
}

.listimg_tit span:nth-of-type(2) {
  color: var(--colorYellow);
  font-size: 1.5em;
}
.list_img3 .listimg_tit {
  flex-direction: row;
  justify-content: center;
}
.list_img3 .listimg_tit span {
  font-size: 1.5em;
}
.list_imgB {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}

/* 3단카드 공지사항*/
.list2,
.list3 {
  width: 35%;
  
}
.list2{
  flex-shrink: 1;
}
.list2 .list_head {
  border-bottom: 1px solid var(--colorNavy);
}
.notice_con {
  padding: 0.5rem var(--gap2);
}
.notice {
  display: flex;
  position: relative;
  padding: 0.5rem 0;
}
.notice > span:nth-child(2) {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 0.5rem;
}
.notice > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: transparent;
}
.notice:hover {
  background-color: #ffd70070;
}

/* 3단카드 시설안내 */

.facility_btncon {
  display: flex;
  flex-wrap: wrap;
}
.facility_btn {
  width: 25%;
  padding: 0.25rem;
  background-color: transparent;
  border: 1px solid var(--colorNavy);
  cursor: pointer;
}
.facility_btn:hover {
  font-weight: bold;
  background-color: #4470bd;
  color: #fff;
}
/* 자바스크립트 */
.facility_btn.active {
  background-color: var(--colorNavy);
  color: #fff;
  font-weight: bold;
}
.list3{
  flex-shrink: 0;
}
.list3_content {
  display: flex;
  height: calc(100% - 4.5rem);
}
/* 선생님께 물어보기 */
.list3_img {
  width: 50%;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding-top: 40%;
}
.list3_img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  height: 100%;
}
.list3_text {
  width: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  letter-spacing: -1px;
}
.list3_text > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* border: 2px solid dodgerblue; */
}
.list_txt_2,
.list_txt_3 {
  width: 100%;
}
.list_txt_2 {
  font-weight: bold;
  border-bottom: 1px solid var(--colorNavy);
}
.list_txt_3 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
}
.list_txt_4 {
  width: 60%;
  /* border: 1px solid red; */
}
.list3_text > div > button {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0;
  background-color: var(--colorYellow);
  color: var(--colorNavy);
  letter-spacing: -2px;
}
/* 3단카드 자바스크립트 */
.list_img.active {
  display: block;
}
.list3_text.active {
  display: flex;
}

/* 푸터 st */
.ft_wrap {
  background: url(../img/푸터배경.png) no-repeat center / cover;
}
.ft {
  display: flex;
  color: var(--colorWhite);
  font-size: 0.75rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.ft_con {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: 0.75rem;
  /* border: 1px solid red; */
}

.ft_logo {
  width: 150px;
  padding-top: 0.5rem;
  align-self: flex-start;
}
.pt_txt {
  width: 75%;
}
.pt_txt > * {
  padding: 0.25rem 0;
}
.pt_tit {
  color: var(--colorYellow);
  font-weight: 500;
}

.ft_right .pt_txt {
  line-height: 0.9;
  /* padding-top: 1rem; */
}
.pt_Slist {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: left;
  min-width: 200px;
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--colorWhite);
  position: relative;
  padding: 0.25rem 0;
  margin-top: 0.5rem;
}
.pt_Slist::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../img/푸터바로가기.svg) no-repeat center/ 100%;
  top: 50%;
  right: 0;
  margin-right: 0.25rem;
  transform: translateY(-50%);
}
.pt_Slink {
  position: absolute;
  bottom: 100%;
  width: 100%;
  background-color: var(--colorNavy);
  border: 1px solid var(--colorWhite);
  display: none;
}
.pt_Slink > *:hover {
  background-color: var(--colorWhite);
  color: var(--colorNavy);
}

@media (max-width: 950px) {
  .watch {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
    flex-wrap: wrap;
  }
  .watch > p {
    padding: 0.25vw;
  }
  .gnb_list a {
    font-size: 0.85rem;
  }
  .mypage_btn {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.85rem;
  }

  .list_wrap {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: flex-start;
  }
  .list1,
  .list2,
  .list3 {
    width: 49%;
    height: 100%;
    /* align-self: flex-start; */
  }
  .list1 {
    order: 2;

  }
  .list2 {
    width: 100%;
    margin-bottom: 2vw;
  }

  .notice > span:last-of-type {
    width: 30%;
    text-align: right;
  }
  .list_img3 .listimg_tit span {
    font-size: 1.75rem;
  }

  
  .list1:hover .list_img img {
    transform: scale(1.2);
  }
  .list3_content {
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 4.5rem);
  }
  .list3_content {
    flex-wrap: wrap;
  }

  .list3_img {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 100%;
    border: 1px solid red;
    /* padding-top: 21vw; */
  }
  .list3_img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
  }
  .list3_text {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    letter-spacing: -1px;
  }
  .list3_text > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid dodgerblue; */
  }
}
@media (max-width: 860px) {
  .gnb {
    display: none;
  }
  .mypage {
    display: none;
  }
  .M_nav {
    display: flex;
    cursor: pointer;
    align-items: center;
  }
  .M_nav.active {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding-top: 1rem;
  }

  .logo img {
    width: 150px;
  }

  .M_schedule {
    margin-right: 0.5rem;
    display: flex;
    width: 30px;
    height: 30px;
  }

  .M_nav.active .M_schedule {
    width: 30px;
    height: 30px;
  }
  .M_nav.active .M_btn {
    width: 30px;
    height: 30px;
  }
  .M_btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    top: 0;
    width: 30px;
    padding: 0.75rem 0;
  }
  .M_btn > * {
    width: 100%;
    height: 3px;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--colorNavy);
    border-radius: 1rem;
  }

  .ham1 {
    transform: translate(0, -50%);
  }

  .ham2 {
    top: 50%;
    transform: translate(0, -50%);
  }
  .ham3 {
    top: 100%;
    transform: translate(0, -50%);
  }
  .gnb_hover_bg {
    display: none;
  }
  /* 자바스크립트 nav */
  .gnb_wrap.active .gnb::before {
    display: none;
  }
  .gnb_wrap.active {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    top: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    /* border: 10px solid violet; */
    background-color: #fff;
    z-index: 100;
  }
  .gnb_wrap.active .gnb {
    display: flex;
    padding-top: 5rem;
    flex-direction: column;
    width: 100%;
  }

  .gnb_wrap.active .gnb_list {
    position: relative;
  }
  .gnb_wrap.active .gnb_list a {
    text-align: right;
    font-size: 1.5rem;
    background-color: var(--colorNavy);
    color: var(--colorWhite);
  }
  .gnb_wrap.active .sub_gnb {
    display: none;
  }
  .gnb_wrap.active .gnb_list > a::before {
    display: none;
  }

  .gnb_wrap.active .sub_gnb li a {
    padding: 0.5rem 1rem;
    text-align: center;
    font-size: 0.85rem;
    background-color: var(--colorNavy);
    color: var(--colorWhite);
  }
  .gnb_wrap.active .sub_gnb li:hover a {
    background-color: var(--colorNavy);
  }
  .gnb_wrap.active ~ .M_nav.active .ham1 {
    top: 50%;
    transform: translate(0, -50%) rotate(45deg);
  }
  .gnb_wrap.active ~ .M_nav.active .ham2 {
    display: none;
  }
  .gnb_wrap.active ~ .M_nav.active .ham3 {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
  /* slogan 반응형 */
  .slogan {
    padding-top: 3rem;
  }
  .slogan_sub {
    font-size: 1.5rem;
  }
  .slogan_tit {
    font-size: 2.5rem;
  }
  /* 예약 버튼 반응형 */
  .reservation_btn {
    padding: 1rem 0;
    font-weight: 600;
    font-size: 1.25rem;
  }
  .listimg_tit {
    font-size: 1.25em;
  }

  .listimg_tit span:nth-of-type(2) {
    font-size: 1.3em;
  }
  .ft_right .pt_txt {
    display: none;
  }
}
@media (max-width: 720px) {
  .facility_btncon {
    flex-wrap: wrap;
  }
  .facility_btn {
    width: 50%;
  }

  .list_txt_1 {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  .list_txt_3,
  .list_txt_4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .ft_con {
    flex-wrap: wrap;
    width: 100%;
    /* border: 1px solid red; */
  }
  .ft_short {
    width: 100%;
  }
  .pt_Scon {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .pt_Slist {
    min-width: 150px;
    padding-right: 1.25rem;
  }
  .pt_Slist::after {
    width: 10px;
    height: 10px;
  }
  .pt_Slink {
    position: absolute;
    bottom: 100%;
    width: 100%;
    background-color: var(--colorNavy);
    border: 1px solid var(--colorWhite);
    display: none;
  }
}
@media (max-width: 580px) {
  .watch {
    flex-direction: column;
    font-size: 0.85rem;
    padding: 0.5rem 0;
    /* align-items: center; */
  }
  .watch > p {
    padding: 0.25vw 0;
  }
  /* slogan 반응형 */
  .slogan {
    padding-top: 2rem;
  }
  .slogan_sub {
    font-size: 1rem;
  }
  .slogan_tit {
    font-size: 2rem;
  }
  /* 예약 버튼 반응형 */
  .reservation_btn {
    font-size: 1rem;
  }
  /* 배경일러스트 */
  .slogan::after {
    /* border: 1px solid red; */
    padding-top: 20%;
    width: 20%;
    opacity: 0.1;
    transform: translate(5%, 15%);
  }

  .reservation_btn1::before {
    display: none;
  }
  .reservation_btn2::after {
    display: none;
  }
  .listimg_tit {
    font-size: 1.25em;
  }

  .listimg_tit span:nth-of-type(2) {
    font-size: 1.5em;
  }

  .list1,
  .list2,
  .list3 {
    width: 100%;
    margin-bottom: var(--gap);
    border: 0.5px solid #fff;
    /* align-self: flex-start; */
  }
  .list_txt_1 {
    display: flex;
  }
  .list3_content {
    flex-wrap: wrap;
  }
  .list3_img {
    width: 100%;
  }
  .list3_text {
    width: 100%;
  }
  .list3_text > div {
    padding-top: 0.75rem;
  }
  .pt_Scon {
    border: 1px solid red;
    display: flex;
    width: 80%;
    flex-direction: column;
  }
  .pt_Slist {
    min-width: auto;
    padding-right: 1.25rem;
  }
}
